[user]
    email = xnirvana508@gmail.com
    name = Jun Xu
[color]
    status = auto
    branch = auto
    interactive = auto
    diff = auto
[core]
	editor = vim
[alias]
    br = branch
    ch = checkout
    cm = commit -m
    re = remote -v
    st = status
    sy = "!git pull upstream master --tags; git push origin master;"
    lg = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset' --abbrev-commit
    ls = "!f() { \
        dir=$(pwd); \
        for d in "$code"/*; do \
            if [ "$d" -a -d "$d/.git" ]; then \
                echo $(basename "$d"); cd "$d"; git br; \
            fi; \
        done; \
        cd "$dir"; \
    }; f;"
    d  = diff --name-only origin/master...HEAD
    df = diff origin/master...HEAD --
