[user]
    email = xnirvana508@gmail.com
    name = Jun Xu
[color]
    status = auto
    branch = auto
    interactive = auto
    diff = auto
[core]
	editor = vim
[alias]
    ch = checkout

    cm = commit -m
    acm = "!git add -A; git commit -m"

    re = remote -v
    br = branch
    st = status
    lg = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset' --abbrev-commit
    ls = "!f() { \
        dir=$(pwd); \
        for d in ~/Documents/*; do \
            if [ -d "$d" -a -d "$d/.git" ]; then \
                { cd "$d"; printf \"%-12s-> \\033[0;33m%-50s\\033[0m\n\" $(basename `pwd`) $(git rev-parse --abbrev-ref HEAD); } \
            fi; \
        done; \
        cd "$dir"; \
    }; f;"

    d  = diff --name-only origin/master...HEAD
    df = diff origin/master...HEAD --

    si = stash push
    so = stash pop
