[user]
    email = xnirvana508@gmail.com
    name = Jun Xu
[color]
    status = auto
    branch = auto
    interactive = auto
    diff = auto
[core]
	editor = vim
[alias]
    br = branch
    ch = checkout
    cm = commit -m
    re = remote -v
    st = status
    sy = "!git pull upstream master --tags; git push origin master;"
    lg = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset' --abbrev-commit
    ls = "!f() { \
        dir=$(pwd); \
        for d in ~/*; do \
            if [ -d "$d" -a -d "$d/.git" ]; then \
                cd "$d" && \
                printf "%-8s" "$(basename "$d")" && \
                echo \" -> \\033[0;33m$(git rev-parse --abbrev-ref HEAD)\\033[0m\"; \
            fi; \
        done; \
        cd "$dir"; \
    }; f;"
    d  = diff --name-only origin/master...HEAD
    df = diff origin/master...HEAD --
